<div class="data-form">
  <form action="/users/create" method="POST">
    <h1>Create New User</h1>
    <label for="inputName">Name</label>
    <input
      type="text"
      name="name"
      id="inputName"
      autofocus
      required
    />
    <br>
    <label for="inputEmail">Email</label>
    <input
      type="text"
      name="email"
      id="inputEmail"
      required
    />
    <br>
    <label for="inputPassword">Password</label>
    <input
      type="password"
      name="password"
      id="inputPassword"
      required
    />
    <br>
    <br>
    <label for="inputRole">Role</label>
    <input
      type="text"
      name="role"
      id="inputRole"
      required
    />
    <br>
    <label for="inputGraduationYear">Graduation Year</label>
    <input
      type="text"
      name="graduationYear"
      id="inputGraduationYear"
      required
    />
    <br>
    <label for="inputMajor">Major</label>
    <input
      type="text"
      name="major"
      id="inputMajor"
      required
    />
    <br>
    <br>
    <label for="inputJob">Job</label>
    <input
      type="text"
      name="job"
      id="inputJob"
      required
    />
    <br>
    <label for="inputCompany">Company</label>
    <input
      type="text"
      name="company"
      id="inputCompany"
      required
    />
    <br>
    <br>
    <label for="inputCity">City</label>
    <input
      type="text"
      name="city"
      id="inputCity"
      required
    />
    <br>
    <label for="inputState">State</label>
    <input
      type="text"
      name="state"
      id="inputState"
      required
    />
    <br>
    <label for="inputCountry">Country</label>
    <input
      type="text"
      name="country"
      id="inputCountry"
      required
    />
    <br>
    <label for="inputZipCode">Zip Code</label>
    <input
      type="text"
      name="zipCode"
      id="inputZipCode"
      pattern="\d*"
      required
    />
    <br>
    <br>
    <label for="inputBio">Bio</label>
    <input
      type="text"
      name="bio"
      id="inputBio"
      required
    />
    <br>
    <label for="inputInterests">Interests</label>
    <input
      type="text"
      name="interests"
      id="inputInterests"
      required
    />
    <br>
    <br>
    <button type="submit">Create new user</button>
  </form>
</div>