<h3>About</h3>
<p>As mentioned on the home page, the Brandeis Students and Alumni Assocation is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other.</p>