<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/whitney-2">
        <link rel="stylesheet" href="/css/style.css">
        <title>Michael Pyrdol</title>
    </head>
    <body>
        <header>
            <div id="brandeisLogoColumn"><img src="/images/BrandeisLogo.png" alt="brandeis logo" id="brandeisLogo"></div>
            <div><h1>Brandeis University</h1><h2>Students & Alumni Association</h2></div>
        </header>
        <br>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/jobs">Jobs</a>
            <a href="/event">Event</a>
            <a href="/contact">Contact</a>
        </nav>
        <section>
            <article>
                <%- body%>
            </article>
        </section>
        <br>
        <footer>
            <div id="footerInfo">© 2023 Brandeis University</div>
            <div class="social"><a href="#" class="fa fa-facebook"></a></div>
            <div class="social"><a href="#" class="fa fa-linkedin"></a></div>
            <div class="social"><a href="#" class="fa fa-reddit"></a></div>
            <div class="social"><a href="#" class="fa fa-youtube"></a></div>
        </footer>
    </body>
</html>